# Python
__pycache__/
*.py[cod]
*.class
*.pyc
*.pyo

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables (JANGAN commit .env asli!)
.env

# Database local
*.db
*.sqlite3
merit_polri.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
